@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #ff2d9b;
  --pink-light: #ff8fd4;
  --pink-dark: #c4006e;
  --cyan: #00f5ff;
  --yellow: #ffe600;
  --green: #00ff9f;
  --purple: #b044ff;
  --bg: #0a0010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Press Start 2P", monospace;
  color: #ffffff;
  overflow-x: hidden;
}

/* Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--pink);
}

/* Animaciones global*/
@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
